$red: #E93D44;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/ProximaNova/ProximaNova-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/ProximaNova/ProximaNova-Semibold.otf);
  font-weight: 500;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/ProximaNova/ProximaNova-Bold.otf);
  font-weight: 600;
}

body {
  font-family: ProximaNova;
  margin: 0;
  padding: 0;
}

.topbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 60px;
  padding: 0 10px;
  a {
    display: contents;
  }
  img {
    height: calc(100% - 26px);
    margin-right: auto;
  }
  .link {
    align-items: center;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
    text-decoration: none;
    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.about-container {
  padding: 30px;
  text-align: center;
  width: 100%;
}

.step-item {
  align-items: center;
  cursor: pointer;
  display: flex;

  &:hover {
    background: rgba(0, 0, 0, .05);
  }

  svg {
    margin: 5px 5px 5px 0;
    fill: $red;
  }
}

.card-container {
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px 0 #999;
  margin: 10px auto;
  max-width: 800px;
  padding: 10px;
}

.custom-input {
  margin: 0 auto;
  text-align: left;
  width: 200px;

  label {
    display: block;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
    appearance: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: block;
    font-size: 1rem;
    padding: 10px 15px;
  }
}

.custom-button {
  appearance: none;
  background-color: $red;
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 15px;

  &:hover {
    background-color: #C6343A;
  }

  &:active {
    background-color: #EE5A60;
  }
}
